
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
input[type=text] {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}

.titulotable{
    Color: rgb(255, 0, 0);
}